<div class="login-ui" ng-class="{error: loginError, continuation: isContinuation(), initial: !isContinuation()}" >

    <!-- Login error message -->
    <p class="login-error" translate="{{loginError.key}}"
       translate-values="{{loginError.variables}}"></p>

    <div class="login-dialog-middle">
        <div class="login-dialog notification" style="background-color: #777D8C;border-radius: 6px;">
		<div class="cookie-banner" style="">
					<p class="cookie-text">
						<a>Need help? Our Support staff are available to assist you 24/7! Chat Support at the bottom right or Phone Support at (866) 847-3590.</a>
						<button id="closeButton" class="close" style="float: right;">X</button>
					</p>		
				</div>

            <form class="login-form" ng-submit="login()">

                <!-- Guacamole version -->
                <div class="version">
                </div>

                <!-- Login message/instructions -->
                <p ng-show="helpText" translate="{{helpText.key}}"
                   translate-values="{{helpText.variables}}"></p>

                <!-- Login fields -->
                <div class="login-fields">
                    <guac-form
                        namespace="'LOGIN'"
                        content="remainingFields"
                        model="enteredValues"
                        focused="relevantField.name"
                        data-disabled="submitted"></guac-form>
                </div>

                <!-- Login/continue button -->
                <div class="buttons">

                    <input type="submit" name="login" class="login"
                           ng-disabled="submitted"
                           value="{{'LOGIN.ACTION_LOGIN' | translate}}">

                    <input type="submit" name="login" class="continue-login"
                           ng-disabled="submitted"
                           value="{{'LOGIN.ACTION_CONTINUE' | translate}}">

                </div>
                <div style="text-align:center;">
						<br>
						<a style="text-decoration:none; color:White;" href="https://upload.icanotes.com/home/forgotpassword" target="_blank">Forgot your password?
						</a>
					</div>
                    <br>
                <div style="text-align:center;">
                  <iframe src="https://icanotes.instatus.com/embed-status/a9b7581b/light-md" width="230" height="41" frameborder="0" scrolling="no" style="border: none display:">
					</iframe>
                </div>

            </form>

        </div>

    </div>

</div>
